@use 'abstracts/variables' as var;

@use 'bootstrap/scss/bootstrap' with ($primary: var.$verde,
  $secondary: var.$pergamino,
  $light: var.$lino,
  $info: var.$azul,
  $body-color: var.$grafito,
  $font-family-sans-serif: ("IBM Plex Sans Variable", sans-serif),
  $headings-font-family: ("Fraunces Variable", serif));


.navbar-nav {
  .nav-link {
    font-family: 'Fraunces Variable', serif;
    color: var.$pergamino;
    font-size: 1.2rem;
  }
}

.hero {

  min-height: 60vh;
}

p {
  max-width: 75ch;
  margin-inline: auto;
}

.logo-footer {
  width: 100px;
}

.social {
  width: 2rem;
}

.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(to right, black, transparent);
}